In [4]:
from symbol_func import stock_symbol as ss
ss()

           Date    Close    Volume    Open    High     Low Symbol
0    2022-09-27  84.2800   8628753  85.970  86.500  83.170   SBUX
1    2022-09-26  84.8100   7583548  84.310  86.025  84.280   SBUX
2    2022-09-23  84.1700   7153192  83.900  84.440  83.225   SBUX
3    2022-09-22  84.7000   9953048  88.000  88.020  84.380   SBUX
4    2022-09-21  88.6000   8806754  91.290  91.520  88.570   SBUX
...         ...      ...       ...     ...     ...     ...    ...
2510 2012-10-04  24.5500  24813860  24.945  24.965  24.380   SBUX
2511 2012-10-03  24.7450  15038688  24.825  24.915  24.525   SBUX
2512 2012-10-02  24.6500  21740440  25.220  25.220  24.400   SBUX
2513 2012-10-01  25.0725  15429746  25.465  25.650  24.950   SBUX
2514 2012-09-28  25.3550  16058016  25.280  25.480  24.945   SBUX

[2515 rows x 7 columns]

In [5]:

import pandas as pd
import numpy as np
import matplotlib as mpl
from matplotlib import pyplot as pplt

symbols = ['AAPL', 'AMD', 'AMZN', 'CSCO', 'META', 'MSFT', 'NFLX', 'QCOM', 'SBUX', 'TSLA']

symbol = input("Please enter one of the following symbols!" + str(symbols) + '\n').upper()

try:
    df = pd.read_csv('/Users/miked/Downloads/HistoricalData_' + symbol + '.csv')
    df['Symbol'] = symbol
    df['Open'] = df['Open'].str.replace("$", '', regex=True).astype(float)
    df['High'] = df['High'].str.replace("$", '', regex=True).astype(float)
    df['Low'] = df['Low'].str.replace("$", '', regex=True).astype(float)
    df['Close/Last'] = df['Close/Last'].str.replace("$", '', regex=True).astype(float)
    df.rename(columns={'Close/Last': 'Close'}, inplace=True)
    df['Date']= pd.to_datetime(df['Date'])
    print(df)
    df2 = df['Open'].mean()
    print(df2)

except FileNotFoundError:
    print("You have entered an invalid symbol! Please try again.")

           Date     Close    Volume      Open      High       Low Symbol
0    2022-09-27  282.9400  61925190  283.8400  288.6700  277.5100   TSLA
1    2022-09-26  276.0100  58076910  271.8300  284.0900  270.3100   TSLA
2    2022-09-23  275.3300  63748360  283.0900  284.5000  272.8200   TSLA
3    2022-09-22  288.5900  70545410  299.8600  301.2900  285.8200   TSLA
4    2022-09-21  300.8000  62555660  308.2900  313.8000  300.6300   TSLA
...         ...       ...       ...       ...       ...       ...    ...
2510 2012-10-04    1.9600  23118093    2.0000    2.0067    1.9100   TSLA
2511 2012-10-03    1.9533  15745762    1.9833    1.9967    1.9493   TSLA
2512 2012-10-02    1.9867  10934530    1.9520    1.9927    1.9333   TSLA
2513 2012-10-01    1.9440  13264568    1.9667    1.9927    1.9333   TSLA
2514 2012-09-28    1.9520  65140302    1.9153    1.9927    1.9073   TSLA

[2515 rows x 7 columns]
68.18861431411531